/* This is the CSS for the colors, text attributes,
   and other styles across the site */
body {
   background-color: #F1BF98;
}

.nav-item {
   list-style-type: none;
   background-color: #add8e6;
   border: 1px solid black;
   text-align: center;
}

.nav-item a {
   display: block;
   text-decoration: none;
   padding: 5px;
}
