/* CSS for the layout of content */
* {
   box-sizing: border-box;
}

body {
   background-color: #F1BF98;
}

.grid {
   display: grid;
   gap: 5px;
}

/* This sets up the grid with 12 columns.
   This makes dividing the page into halves, thirds,
   or quarters easy */
.container {
   grid-template-columns: repeat(12, 1fr);
   min-height: 80vh;
}

/* This is the layout for a one column page */
.main-content {
   grid-column: 1 / 13;
   border: 1px solid black;
   padding: 5px;
}
