/* This is the CSS for the colors, text attributes,
   and other styles across the site */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #275942;
  margin: 0;
  background-image: url("css_images/homepage.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.locations .selected {
  background-color: #bf610f;
  box-shadow: #222 2px 2px inset;
}

.full-content {
  background-color: #000000;
  opacity: 0.9;
}

.container {
  color: white;
  background-color: #000000;
  padding: 0;
  opacity: 0.9;
}

body h1 {
  background-color: #000000;
  padding: 0;
  opacity: 0.9;
  text-align: center;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  justify-content: left;
}
.container ul {
  padding: 0;
}
.container ul li p {
  margin: 0;
}

.container ul li {
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 5px;
  display: inline-block;
  /* width: 50%; */
  color: black;
  background-color: #839d84;
  border: 1px black solid;
  border-radius: 6px;
  padding: 3px;
  box-shadow: #222 2px 2px;
}

.container ul li:active {
  box-shadow: #222 2px 2px inset;
}
.locationLI {
  color: black;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li a {
  text-decoration: none;
  color: #222;
}

#sidebar a {
  display: block;
}

.submit {
  display: grid;
  justify-self: center;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  margin-top: 10px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: #11a65b;
  border: 100px black;
  border-radius: 5px;
  padding: 5px;
}

.submit:hover {
  opacity: 10;
  background-color: #14cc70;
  border: 2px black;
  flex-grow: 10px;
}

.description {
  font-size: 20px;
}

#north-mtn {
  font-size: 18px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

#grade-text {
  display: grid;
  margin-bottom: 5px;
  font-size: 24px;
  justify-self: center;
}

#grade {
  width: 50px;
  height: 30px;
}

#grade-select {
  display: grid;
}

#grade-selection {
  display: grid;
  height: auto;
  width: auto;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

select,
.select:after {
  grid-area: select;
}

.select {
  display: grid;
  justify-self: center;
  align-items: center;
  margin-top: 10px;
  width: 150px;
  height: 35px;
  min-width: auto;
  max-width: 10ch;
  border: 1px solid rgb(10, 214, 54);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select:after {
  justify-self: end;
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: rgb(32, 32, 32);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:hover {
  font-weight: bold;
}

div.info {
  color: whitesmoke;
  font-size: 24px;
}

.probLink {
  font-size: 18px;
}

.probLink:link {
  color: white;
}

.probLink:visited {
  color: silver;
}

.probLink:hover {
  background-color: rgb(84, 219, 84);
  color: black;
}

.probLink:active {
  background-color: salmon;
  color: black;
}
