/* This is the CSS for the colors, text attributes,
   and other styles across the site */
body {
  background-color: #f1bf98;
}
.locations .selected {
  background-color: rgba(255, 255, 255, 0.15);
}

div.info {
  color: white;
  font-size: 24px;
}
